# macOS system files
.DS_Store
**/.DS_Store

# Xcode
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

# Xcode Build Artifacts
build/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Package.resolved
# Package.pins
# .swiftpm
# Packages/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Xcode Project Metadata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# GitHub-specific
.github/.DS_Store

# Workspace-specific (if generated)
*.xcworkspace
